.counts {
  margin: 12px 0;
  color: var(--text-color-secondary);
}

.inputContainer {
  margin-bottom: 24px;
}

@media screen and (min-width: 720px) {
  .inputContainer {
      display: flex;
      justify-content: space-between;
  }


  .counts {
      flex: 2;
  }

  .input {
      flex: 4;
  }
}